* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > * {
    margin: auto;
    width: 70%;
}
body>*,
main>section {
    margin-bottom: 20px;
}

.img-logo >img {
    width: 20%;
    border-right: 1px solid rgb(191, 191, 191);
    padding-right: 25px;
 }
.nav-bar {
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}
nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
  
}

 li a {
    text-decoration: none;
    color: rgb(191, 191, 191);
   
 }
li a:not(.primo-link) {
    padding: 5px;
}
.section-1 {
    padding: 400px 40% 50px 50px;
    background-image: url(img/banner.jpg);
    background-position: center; 
}
/* p.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  
} */

.section-2>div.clearfix::after{
    display: table;
    content: "";
    clear: both;
} 


.main-bot>aside, .main-bot>article {
    float: left;
  
}
aside>img, article>img {
    width: 100%;
}
.content-aside-left {
    margin-top: 15px; 
    width:19%;
    margin-right: 1%; 
}


.content-aside-right {
    margin-top: 15px;
    width:19%;
    margin-left: 1%;
} 

.content-centre {
    margin-top: 15px;
    width:60%;
}
.main-img {
    height: 200px;
    background-position: center;
}
#img-2-idea {
    background-image: url(img/img-3.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
}
#img-1-pianta {
    background-image: url(img/img-1.jpg);
    background-repeat: no-repeat;

}
#banner-2-caffe{
    background-image: url(img/banner-2.jpg);
    background-repeat: no-repeat;
}
footer {
    text-align: center;
}
footer span {
    color: red;    
}
h4, p {
    color: grey;
    margin: 15px;
}