* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body > * {
    margin: auto;
    width: 70%;
}
body>*,
main>section {
    margin-bottom: 10px;
}

 .img-logo >img {
    width: 20%;
    border-right: 1px solid rgb(191, 191, 191);
    padding-right: 25px;
 }
.nav-bar {
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}
nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
  
}

 li a {
    text-decoration: none;
    color: rgb(191, 191, 191);
   
 }
li a:not(.primo-link) {
    padding: 5px;
}
.section-1 {
    padding: 200px;
   
}
.section-2 {
  
   padding-bottom: 15px;
}
section>div.clearfix::after{
    display: table;
    content: "";
    clear: both;
} 
.titolo-articolo {
    height: 70px;
}

.main-bot>aside, .main-bot>article {
    float: left;
    height: 450px;
}

.content-aside-left {
    
    margin-top: 15px; 
    width:19%;

   
    margin-right: 1%; 
}


.content-aside-right {
   
    margin-top: 15px;
    width:19%;
   
    margin-left: 1%;
} 

.content-centre {
   
    margin-top: 15px;
    width:60%;
    
   
}

footer {
    height: 100px;
}
/* impostazione colori dei blocchi  */
#color-pink {
    background-color:#e479e6;
}
#color-yellow {
    background-color:#e1d77a;
}
#color-royalblue {
    background-color: #0088ff;
}
.color-skyblue {
    background-color: #abcfe7;
}
#color-viola {
    background-color: #8a00fb;
}